@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Noto Sans', Arial, sans-serif;
    background-color: #fffdf8;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: #222;
}

.upis-container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    margin: 60px auto;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #16C79A;
}

.upis-container h1 {
    color: #000;
    font-size: 1.9em;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    padding-bottom: 8px;
}

.upis-container .uvod {
    font-style: italic;
    background-color: #fff9e6;
    border-left: 4px solid #f2c94c;
    padding: 12px 15px;
    border-radius: 6px;
    color: #444;
}

.upis-container ul {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.upis-container li {
    margin: 6px 0;
}

.upis-container a {
    color: #003f7f;
    text-decoration: none;
    font-weight: 600;
}

.upis-container a:hover {
    text-decoration: underline;
}



.footer {
    background-color: #16C79A; /* Tamnoplava pozadina */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    margin-top: auto; /* pushes footer to bottom when page height > content */
}

/* Flexbox za kolone u footeru */
.footer-content {
    display: flex;
    justify-content: center;
    gap: 40px; /* Razmak između kolona */
    flex-wrap: wrap; /* Omogućava prelamanje u novi red na manjim ekranima */
}

/* Stilovi za svaku kolonu */
.footer-column p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Linija ispod sadržaja */
.footer-line {
    border: none;
    border-top: 1px solid #ddd; /* Svetlija linija */
    margin: 15px 0;
    width: 80%; /* Linija je malo uža od celog footer-a */
    margin: 15px auto; /* Centrirana */
}

/* Tekst ispod linije */
.footer-rights {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 10px;
}


::selection {
    background-color: #16C79A; /* Boja pozadine kada se selektuje */
    color: white; /* Boja teksta kada se selektuje */
}
/* Za WebKit pretraživače (Chrome, Safari) */
::-moz-selection {
    background-color: #16C79A; /* Boja pozadine kada se selektuje */
    color: white; /* Boja teksta kada se selektuje */
    
}