@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Noto Sans', Arial, sans-serif;
}

/*navbar*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #16C79A;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.3s ease;
}

/* Stilovi za levi deo navbar-a */
.navbar-left {
    display: flex;
    align-items: center;
    gap:10px;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.navbar-logo {
    width: 80px;
    height: 80px;
    margin-right: 0px;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    color: white;
}

/* Stilovi za centralni deo navbar-a */
.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

/* Stilovi za meni linkove */
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    gap:4%;
    padding: 8px 12px;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
}

.navbar-menu li a:hover {
   
    color: #16C79A;
    background-color: white;
    border-radius: 4px;
    font-size: 1.3rem;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
}
/*padajuci meni u navbaru*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.dropdown-content {
    display: none; /* Sakriveno po default-u */
    position: absolute; /* Apsolutno pozicioniranje */
    background-color: #16C79A; /* Boja pozadine padajućeg menija */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border-radius: 5%;
    text-align: center;
    transition: all 0.3s ease;

}

.dropdown-content a {
    display: block; /* Stavke u padajućem meniju su blokovi */
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #003f7f; /* Boja na hover */
    transition: all 0.3s ease;
}

/* Prikazivanje padajućeg menija na hover */
.dropdown:hover .dropdown-content {
    display: block; /* Prikazivanje na hover */
    transition: all 0.3s ease;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
/* Desktop navbar - Prikazuje se samo na većim ekranima */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Offcanvas meni */
.offcanvas {
    position: fixed;
    top: 0;
    right: -250px; /* Meni je inicijalno skriven sa desne strane */
    width: 250px;
    height: 100%;
    background-color: #16C79A;
    transition: right 0.3s ease;
    visibility: visible; /* Pobrinite se da je meni vidljiv */
    z-index: 9999; /* Visoki z-index da bi meni bio iznad drugih elemenata */
    opacity: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* Dugme za zatvaranje menija */
.exit-btn {
    background-color: #16C79A;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    /*border-radius: 5px;*/
}

/* Linkovi unutar offcanvas menija */
.offcanvas-links {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.offcanvas-links li {
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

.offcanvas-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Responsive dizajn za mobilne uređaje */

.dropdown-menu1 {
    display: none; /* Skriven podmeni */
    list-style: none;
    padding-left: 20px;
    font-size: 0.8;
    border: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Blaga senka */

}
.dropdown-content {

    position: absolute; /* Apsolutno pozicioniranje */
    background-color: #16C79A; /* Boja pozadine padajućeg menija */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    border-radius: 5%;
    text-align: center;
    transition: all 0.3s ease;
    color:white;
    border-radius: 3px;
    transition: background-color 0.2s ease;

}
.dropdown-toggle::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    right: 15px;
    transition: transform 0.3s ease;
}
.dropdown-toggle.active::after {
    transform: rotate(180deg);
}
.hRed{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

























@media (max-width: 615px){
    
    .navbar-logo {
        width: 60px;
        height: 60px;
        margin-right: 0px;
    }
    
    .navbar-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10px;
        color: white;
    }

}


@media (max-width: 1100px) {
    .navbar-center {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    
}

@media (max-width: 1370px){
    .navbar-menu {

        gap: 10px;

    }
    .navbar-menu li a {

        font-size: 1.1rem;

    }
    .navbar-menu li a:hover {

        font-size: 1.1rem;

    }
    .navbar-logo {
        width: 55px;
        height: 55px;
        margin-right: 0px;
    }
    
    .navbar-title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 10px;
        color: white;
    }

}
