body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f5f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}

.parlament-container {
    width: 85%;
    max-width: 950px;
    background: #ffffff;
    margin: 60px auto;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #16C79A;
}

.parlament-container h1 {
    text-align: center;
    color: #00509e;
    font-size: 2em;
    margin-bottom: 30px;
}

.parlament-image {
    text-align: center;
    margin-bottom: 30px;
}

.parlament-image img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.parlament-text p {
    font-size: 1.05em;
    line-height: 1.8;
    margin-bottom: 18px;
}

.parlament-text strong {
    color: #00509e;
}

.napomena {
    font-style: italic;
    color: #444;
    background: #f5f9ff;
    padding: 10px 15px;
    border-left: 4px solid gray;
    border-radius: 6px;
}


.footer {
    background-color: #16C79A; /* Tamnoplava pozadina */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    margin-top: auto; /* pushes footer to bottom when page height > content */
}

/* Flexbox za kolone u footeru */
.footer-content {
    display: flex;
    justify-content: center;
    gap: 40px; /* Razmak između kolona */
    flex-wrap: wrap; /* Omogućava prelamanje u novi red na manjim ekranima */
}

/* Stilovi za svaku kolonu */
.footer-column p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Linija ispod sadržaja */
.footer-line {
    border: none;
    border-top: 1px solid #ddd; /* Svetlija linija */
    margin: 15px 0;
    width: 80%; /* Linija je malo uža od celog footer-a */
    margin: 15px auto; /* Centrirana */
}

/* Tekst ispod linije */
.footer-rights {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 10px;
}


::selection {
    background-color: #16C79A; /* Boja pozadine kada se selektuje */
    color: white; /* Boja teksta kada se selektuje */
}
/* Za WebKit pretraživače (Chrome, Safari) */
::-moz-selection {
    background-color: #16C79A; /* Boja pozadine kada se selektuje */
    color: white; /* Boja teksta kada se selektuje */
    
}
@media (max-width: 700px) {
    .parlament-container {
        width: 90%;
        padding: 30px 20px;
    }

    .parlament-text p {
        font-size: 1em;
    }
}